@model Ecommerce.Web.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-6">
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.SKU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.SKU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.UPC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.UPC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Creado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Creado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Modificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Modificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Categoria.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Descuento.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Marca.Nombre)
        </dd>
    </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Producto.ProductoId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

    <div class="col-6">
        <h4>Inventario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inventario.Cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inventario.Cantidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inventario.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inventario.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inventario.Creado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inventario.Creado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inventario.Modificado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inventario.Modificado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inventario.Eliminado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inventario.Eliminado)
            </dd>
        </dl>
        <div>
            <a asp-controller="Inventarios" asp-action="Edit" asp-route-id="@Model?.Inventario.InventarioId">Edit</a> |
        </div>
    </div>
</div>

